<%- include ../layouts/_toppage.ejs %>
<form class="begin-form" method="POST" action="/creategame">
    <fieldset>
        <label for="stelling">Wat is de stelling?</label>
        <input id="stelling" type="text" name="stelling"></input>
        <button type="submit" class="begin-btn">Start</button>
    </fieldset>
</form>
<%- include ../layouts/_bottompage.ejs %>