<%- include ../layouts/_toppage.ejs %>
<form class="begin-form">
    <fieldset>
        <label for="stelling">Wat is de stelling?</label>
        <input id="stelling" type="text"></input>
        <button class="begin-btn">Start</button>
    </fieldset>
</form>
<%- include ../layouts/_bottompage.ejs %>