<%- include ../layouts/_toppage.ejs %>
<form class="begin-form" method="POST" action="/creategame">
    <fieldset>
        <label for="stelling">Wat is de stelling?</label>
        <input id="stelling" type="text" name="stelling" ></input>
        <p class="error"> <%-error%></p>
        <div class="button ms">
            <div class="translate"></div>
            <button type="submit" class="begin-btn">START</button>
          </div>
    </fieldset>
</form>
<%- include ../layouts/_bottompage.ejs %>