<%- include ../layouts/_toppage.ejs %>
<form class="begin-form" method="POST" action="/joingame">
    <fieldset>
        <label for="gameId">Wat is het gameId?</label>
        <input id="gameId" type="text" name="gameId"></input>
        <button type="submit" class="begin-btn">Zoek</button>
    </fieldset>
</form>
    <%- include ../layouts/_bottompage.ejs %>