<%- include ../layouts/_toppage.ejs %>
<section>
            <a href="/begin"><button>Poll beginnen</button></a>
            <a href="/join"><button>Poll joinen</button> </a>
        </section>
    <%- include ../layouts/_bottompage.ejs %>