<%- include ../layouts/_toppage.ejs %>
    <form class="container-info">
        <fieldset>
            <button type="submit">Een poll beginnen</button>
            <button type="submit">Een poll joinen</button>
        </fieldset>
    </form>
    <%- include ../layouts/_bottompage.ejs %>