<%- include ../layouts/_toppage.ejs %>
<section>
    <div class="button">
        <div class="translate"></div>
        <a href="/begin">Begin</a>
      </div>
      <div class="button">
        <div class="translate"></div>
        <a href="/join">Join</a>
      </div>
        </section>
        <section class="pollsMade"><div><h2>Gemaakte Polls:</h2></div></section>
    <%- include ../layouts/_bottompage.ejs %>