<!DOCTYPE html>
<html lang="en">

<%- include ../partials/head.ejs %>

    <body class="no-js-body">
        <header>
            <a href="/">
                <h1><%-stelling%></h1>
            </a>
        </header>
            <main class="no-js-container">
                <form class="poll-form" method="POST" action="/postresult">
                    <div>
                        <input id="eens" name="eens" type="hidden" />
                        <div class="button">
                            <div class="translate"></div>
                            <button class="poll-btn" type="submit" formaction="/eens">EENS</button>
                          </div>
                        <input id="oneens" name="oneens" type="hidden" />
                        <div class="button">
                            <div class="translate"></div>
                            <button class="poll-btn"  type="submit" formaction="/oneens">ONEENS</button>
                          </div>
                        </div>
                </form>
    <%- include ../layouts/_bottompage.ejs %>