h1,
h2,
h3 {
    color: white;
}
h1 {
    font-size: 3.5em;
}
html {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #370F41;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(#370F41, #72D0E9);
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    width: 100vw;
    
}

header {
    margin: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}
main {
    margin-top: 10%;
}
header a {
    text-decoration: none;
}

fieldset {
    border: none;
    height: 70vh;
}

fieldset button {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    background-color: #E6E6E6;
    border-radius: 30px;
    height: 60%;
    width: 22%;
}

fieldset button:hover {
    cursor: pointer;
    transition: all 300ms;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
}

fieldset button:first-of-type {
    margin-top: auto;
    margin-left: 19%;
    margin-right: 8%;
}

fieldset button:last-of-type {
    margin-right: 19%;
    margin-left: 8%;
}

fieldset button {
    font-size: 2em;
}
section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
section a {
    color: black;
    text-decoration: none;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: 6px 6px 5px 0px rgba(97, 97, 97, 1);
    background-color: #E6E6E6;
    border-radius: 30px;
    height: 400px;
    width: 300px;
}

section a:hover {
    cursor: pointer;
    transition: all 300ms;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: 10px 10px 5px 0px rgba(97, 97, 97, 1);
}
section a button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 2em;
}

section a:first-of-type {
    margin-right: 10%;
}

section a:last-of-type {
    margin-left: 10%;
}

form fieldset .begin-btn {
    height: 10%;
    width: 20%;
    margin: 0;
    margin-top: 5em;
}

.begin-form {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.begin-form label {
    color: white;
    font-weight: 700;
    font-size: 2em;
    display: block;
    margin-bottom: 0.5em;
}

.begin-form input {
    margin: auto;
    width: 25%;
    height: 5%;
    font-size: 2em;
    display: block;
}